{% extends "base.html" %}
{% block titulopagina %}Feed{% endblock titulopagina %}
{% block conteudo %}
<div class="row bg-light m-3 border p-3">
    <div class="row">
        <div class="col">
            <strong>Nome do Autor</strong>
        </div>
        <div class="col-auto">
            Dia/Mês/Ano
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam sunt magni dolores eaque quidem voluptate error, expedita officiis commodi, deleniti a fuga sed repellat non aspernatur sint in possimus exercitationem!
        </div>
    </div>
</div>
{% endblock conteudo %}