{% extends "base.html" %}
{% block titulopagina %}Feed{% endblock titulopagina %}
{% block conteudo %}

{% for publicacao in publicacoes %}
<div class="row bg-light m-3 border p-3">
    <div class="row">
        <div class="col">
            <strong>Nome do Autor: {{publicacao.author}}</strong>
        </div>
        <div class="col-auto">
            Publicado em: {{publicacao.date}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {{publicacao.content}}
        </div>
    </div>
</div>
{% endfor %}

{% endblock conteudo %}