{% extends "base.html" %}
{% block titulopagina %}Write{% endblock titulopagina %}
{% block conteudo %}
<h1>Publication</h1>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input name="author" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea name="content" rows="4" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publicate</button>
</form>
{% endblock conteudo %}