{% extends "base.html" %}
{% load static %}

{% block titulo %}Login{% endblock titulo %}

{% block conteudo %}
<!-- Botão de Voltar -->
<div class="d-flex justify-content-center align-items-center">
    <a href="/" class="btn btn-secondary">Voltar</a>
</div>

<!-- Conteúdo da Página de Login -->
<section class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Criar Conta</h2>

                    <!-- Formulário de Login -->
                    <form>
                        <div class="form-row">
                            <div class="form-floating col-md-6 mb-3 text-dark">
                                <input type="name" class="form-control" id="floatingInput" placeholder="Nome"
                                    required>
                                <label for="floatingInput">Nome</label>
                            </div>

                            <div class="form-floating col-md-6 mb-3 text-dark">
                                <input type="name" class="form-control" id="floatingInput"
                                    placeholder="Sobrenome" required>
                                <label for="floatingInput">Sobrenome</label>
                            </div>
                        </div>

                        <div class="form-floating mb-3 text-dark">
                            <input type="email" class="form-control" id="floatingInput" placeholder="email">
                            <label for="floatingInput">Email</label>
                        </div>

                        <div class="form-row mb-3 text-dark">
                            <div class="form-floating col-md-6 text-dark">
                                <input type="date" class="form-control" id="floatingInput"
                                    placeholder="Data de Nascimento">
                                <label for="floatingInput">Data de Nascimento</label>
                            </div>
                        </div>

                        <div class="form-row mb-3 text-dark">
                            <div class="form-floating col-md-6 mb-3 text-dark">
                                <input type="password" class="form-control" id="floatingInput"
                                    placeholder="Senha" required>
                                <label for="floatingInput">Senha</label>
                            </div>
                            <div class="form-floating col-md-6 mb-3 text-dark">
                                <input type="password" class="form-control" id="floatingInput"
                                    placeholder="Confirmar Senha" required>
                                <label for="floatingInput">Confirmar Senha</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-login-neon btn-block">Criar Conta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock conteudo %}