{% extends "base.html" %}
{% load static %}

{% block titulo %}Minha Conta{% endblock titulo %}

{% block conteudo %}
<nav class="mt-1 mb-1">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="/minha-conta">Sua Conta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white bg-secondary active" href="/login-e-seguranca">Login e Segurança</a>
        </li>
    </ul>
</nav>

<!-- Login e Segurança -->
    <div class=" container col-md-8 ml-4">
        <h3 class="mt-5 mb-3">Informações da Conta</h3>
        <div>
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" value="joao@example.com">
            <button class="btn btn-secondary btn-sm">Alterar Informação</button>
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="senha">
            <button class="btn btn-secondary btn-sm">Alterar Informação</button>
        </div>
    </div>

{% endblock conteudo %}