body{
    background-color: rgb(47, 47, 47);
}
#cima{
    display: inline;
   
}
#cima > h1{
    margin-top: 1rem;
    margin-left: 5rem;
    padding-left: 1rem;
}
#cima > img{
   width: 5rem; 
   height:5rem;
   float: left;
 
}
#cabecalho{
background-color: yellow;
} 
#abas > a{
    color: black;

}
#abas > a:hover{
    color: blue;
}