<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, Blog!</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <!-- V.4 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- V.5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="conteudo">
        <!-- Ante Cabeçalho-->
        <div class="border-bottom border-secondary faixa">
            <img src="/assets/img/icones/bolinhas-MacOs-fundo-transparente.png" alt="bolinhas" class="bolinhas">
        </div>

        <!-- Cabeçalho -->
        <div id='topo' class="container-fluid mt-2">
            <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
                <a class="navbar-brand" href="/index.html">Hello, Blog!</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <button class="btn btn-light" id="theme-toggle">Tema Claro</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Botão de Voltar -->
        <div class="d-flex justify-content-center align-items-center mt-3">
            <a href="javascript:history.go(-1)" class="btn btn-secondary">Voltar</a>
        </div>

        <!-- Conteúdo da Página de Login -->
        <section class="container-fluid mt-4">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-center">Criar Conta</h2>

                            <!-- Formulário de Login -->
                            <form>
                                <div class="form-row">
                                    <div class="form-floating col-md-6 mb-3 text-dark">
                                        <input type="name" class="form-control" id="floatingInput" placeholder="Nome"
                                            required>
                                        <label for="floatingInput">Nome</label>
                                    </div>

                                    <div class="form-floating col-md-6 mb-3 text-dark">
                                        <input type="name" class="form-control" id="floatingInput"
                                            placeholder="Sobrenome" required>
                                        <label for="floatingInput">Sobrenome</label>
                                    </div>
                                </div>

                                <div class="form-floating mb-3 text-dark">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="email">
                                    <label for="floatingInput">Email</label>
                                </div>

                                <div class="form-row mb-3 text-dark">
                                    <div class="form-floating col-md-6 text-dark">
                                        <input type="date" class="form-control" id="floatingInput"
                                            placeholder="Data de Nascimento">
                                        <label for="floatingInput">Data de Nascimento</label>
                                    </div>
                                </div>

                                <div class="form-row mb-3 text-dark">
                                    <div class="form-floating col-md-6 mb-3 text-dark">
                                        <input type="password" class="form-control" id="floatingInput"
                                            placeholder="Senha" required>
                                        <label for="floatingInput">Senha</label>
                                    </div>
                                    <div class="form-floating col-md-6 mb-3 text-dark">
                                        <input type="password" class="form-control" id="floatingInput"
                                            placeholder="Confirmar Senha" required>
                                        <label for="floatingInput">Confirmar Senha</label>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-login-neon btn-block">Criar Conta</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Rodapé -->
        <footer class="text-white text-center py-2 mt-4">
            <div class="container-fluid">
                <p>&copy; 2024 Meu Blog. Todos os direitos reservados.</p>
            </div>
        </footer>

        <!-- Bootstrap JS dependencies -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

        <script>
            // Adicionando funcionalidade de alternar tema
            document.getElementById('theme-toggle').addEventListener('click', function () {
                document.body.classList.toggle('dark-theme');
                if (document.body.classList.contains('dark-theme')) {
                    document.getElementById('theme-toggle').textContent = 'Tema Claro';
                } else {
                    document.getElementById('theme-toggle').textContent = 'Tema Escuro';
                }
            });
        </script>

    </div>

</body>

</html>