body {
    font-family: 'Poppins';
    background-color: #00080E;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 0px 35px;
}

.logo-alura {
    width: 95px;
}

.pesquisa-header {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 10px 15px;
    border: solid 0.1px #40A5B7;
    background-color: #00080E;
}

.input-header {
    border: 0;
    color: #40A5B7;
    background-color: #00080E;
}

.lupa-header {
    margin-right: 20px;
    color: #D4F5FB;
    font-size: 20px;
}

a {
    font-size: 12px;
    color: #dffaff;
    text-decoration: none;
    padding: 15px;
}

a:hover {
    color: #2BDEFD;
    transition: 0.1s;
}

.matricule-se {
    padding: 15px 45px;
    color: black;
    background-color: #2BFDBE;
    border-bottom-right-radius: 15px;
}

.matricule-se:hover {
    color: black;
    background-color: #D9FFF6;
    transition: 0.3s;
    font-size: 12px;
    border: solid 0.5px #2BFDBE;
}

main {
    margin: 0px 75px;
}

.h1-main{
    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 64px;
    position: static;
    z-index: auto;
    display: block;
    color: #D7F9FF;
    white-space: nowrap;
    font-family: "Chakra Petch",sans-serif;
    font-size: 70px;
}

h1 span {
    font-family: "Chakra Petch",sans-serif;
    color: #2BDEFD;
}

main p {
    display: flex;
    margin-top: 20px;
    color: #94CED8;
}

.matricule-se-agora {
    display: inline-block;
    margin-top: 20px;
    padding: 20px 45px;
    color: black;
    background-color: #2BFDBE;
    border-bottom-right-radius: 15px;
}

.matricule-se-agora:hover {
    color: black;
    background-color: #D9FFF6;
    transition: 0.3s;
    font-size: 12px;
    border: solid 0.5px #2BFDBE;
}

.fundo-img {
    margin: 200px 80px 0px 0px;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: right;
}
