body {
    font-family: 'Poppins';
    background-color: #00080E;
}

.img-fundo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 430px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 0px 35px;
}

.logo-alura {
    width: 105px;
}

.pesquisa-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 10px;
    border: solid 0.5px #40A5B7;
    background-color: #00080E;
}

.input-header {
    border: 0;
    color: #40A5B7;
    background-color: #00080E;
}

.lupa-header {
    color: white;
    font-size: 20px;
}

a {
    color: #dffaff;
    text-decoration: none;
    padding: 15px;
}

a:hover {
    color: #2BDEFD;
}

.matricule-se {
    padding: 10px 30px;
    color: black;
    background-color: #2BFDBE;
}

.matricule-se:hover {
    color: black;
    background-color: #D9FFF6;
    transition: 0.5s;
    font-size: 16.2px;
}