body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 3%;
}

main {
    margin-top: 130px;
    padding: 5%;
}
