body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0D1A2D;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 300px;
    box-shadow: 0 0 40px #000000;
    border-radius: 20px;
    padding: 30px;
}

.image-equilibrium {
    width: 300px;
    border-radius: 10px;
}

.descricao {
    font-weight: bold;
    padding: 20px 0 0 0;
}

.container a {
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
}

.container a:hover {
    color: #00FFF8;
}

.container h2, p {
    font-weight: normal;
    font-size: 16px;
    color: #778aa6;
}

.informacoes p {
    margin: auto 10px;
}

.informacoes {
    padding: 5px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
}

.informacoes > div {
    display: flex;
    align-items: center;
}

.image-avatar {
    width: 30px;
    border: 1px solid #FFF;
    margin-right: 10px;
    color: #677992;
}

.creation-of p span {
    color: #ffffff;
}

.attribution {
    display: flex;
    position: fixed;
    font-size: 11px;
    text-align: center;
    bottom: 10px;
    right: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
