#qst4 {
    color: rgb(15, 128, 136);
}

#qst4:hover {
    color: red;
}

#qst4:visited {
    color: purple;
}

.destaque {
    font-size: 80px;
    color: green;
}

#qst6 {
    background-color: gray;
}

#qst7 {
    background-color: rgb(163, 211, 50);
    margin: 50px;
    padding: 20px;
}

#qst8 {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th {
    background-color: rgb(72, 99, 122);
}

th, td {
    border: 1px solid #b2b2b2;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #81a6c243;
}

/* Estilos para campos de entrada (input) */
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

/* Estilos para o botão de envio (submit) */
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #37873b;
    transition: 0.5s;
}

/* Estilos para o formulário */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #b2b2b2;
    padding: 10px;
    border-radius: 8px;
}