body{
background-image: linear-gradient(to left, rgb(0, 0, 0) , rgb(37, 37, 37), rgb(53, 53, 53));
height: 100%;

}
header{
    margin: auto;
    margin-top: 5rem;
   border-radius: 3rem;
    width:30rem;
    height: 35rem;
    background-color: rgba(112, 107, 107, 0.449);
    box-shadow:  2px 1px 2px 3px rgba(39, 39, 39, 0.23);

}
header > img{
    height: 10rem;
    width:  14rem;
    
    margin-left: 25%;
    margin-bottom: 2rem;
}
